{% extends "base.html" %}

{% block content %}
<div id="stylized" class="myform">
<form id="form" name="form" method="post" action="/weight/add/">

{% csrf_token %}

{{ form.non_field_errors }}
<h1>Add a new Weight</h1>
<p>Hope you lost weight today</p>

{{ form.weight.errors }}
<label>Weight
<span class="small">Don't Lie</span>
</label>
{{ form.weight }}


{{ form.date.errors }}
<label>Date
<span class="small">Default todays date</span>
</label>
{{ form.date }}

<button type="submit">Add</button>
<div class="spacer"></div>

</form>
</div>
{% endblock %}
