{% extends "templates/base.html" %}
{% load static %}
{% block title %}Kevin's Amazing Website{% endblock %}
{% block scripts %}
<meta HTTP-EQUIV="Refresh" CONTENT="300">
{% endblock %}
{% block content %}
  <div id="sideright">
    <p class="oldrow"> Gray are shows in the past</p>
    <p class="playing"> Purple are shows playing now</p>
    <p class="today"> Yellow are shows in the next twenty-four hours</p>
    <p class="currentrow"> Blue are shows in the next seven days</p>
    <p class="futurerow"> Green are shows in the future</p>
    <a class="pbutton" href="/schedule/update/">Update Shows</a>
    <p>
      <form name = "selectshow" action = "/schedule/" method="post">
        <select name = "show" onchange="document.selectshow.submit()">
          <option value = ""></option>
          {% for s in show_list %}
            <option value = "{{ s.name }}" {% if show_name == s.name %} selected = "Selected" {% endif %}>{{ s.name }}</option>
          {% endfor %}
        </select>
      </form>
    </p>
    <p class="currentrow"> TODO:<p>
    <ul class="futurerow">
      <li>Add Mileage Section</li>
      <li>Make generic form for login and adding data</li>
    </ul>
  </div>
  <div id="mainright">
    <table border="1" cellpadding="1" cellspacing="1" >
      <tr class="tableTop">
        <th>Show Name</th>
        <th>Episode Number</th>
        <th>Episode Name</th>
        <th>Air Date</th>
  <th>URI</th>
      </tr>
      {% for e in eps_list %}
        <tr class="{{ e.css_markup }}">
          <td>{{ e.show.name }}</td>
          <td>{{ e.eps_number }}</td>
          <td>{{ e.eps_name }}</td>
          <td>{{ e.air_date|date:"l"}}, {{e.air_date|date:"F j Y" }} at {{e.air_date|date:"g"}}:{{e.air_date|date:"ia" }}</td>
          {% if e.downloaded %}
            <td><a href="{{e.uri}}">
            <img src="{% get_static_prefix %}img/download.png" width="25" height="25" /></a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
